<!DOCTYPE html>
<html>
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Pitt Design Hub</title>
    <meta name="description" content="The University of Pittsburgh's Design Hub, a student ideation platform for generating top-notch ideas and creating cross-disciplinary interactions.">
    <meta name="author" content="DESIGNhub">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link type="text/css" rel="stylesheet" href="assets/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="assets/css/skeleton.css">
    <link type="text/css" rel="stylesheet" href="assets/css/custom.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="assets/img/DesignHubIcon3.ico">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>

</head>
<body>

<!-- Navigation Bar -->
<div class="container">
    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-icon">
                    <!--<a class="navbar-link" href="http://www.pittdesignhub.com">Home</a>-->
                    <a class="navbar-link" href="http://www.pittdesignhub.com"><img src="assets/img/DesignHub40.png"></a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="http://www.pittdesignhub.com/#about">About</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="http://www.pittdesignhub.com/#projects">Projects</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="http://www.pittdesignhub.com/#opportunities">Opportunities</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="http://www.pittdesignhub.com/calendar">Calendar</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="http://www.pittdesignhub.com/#resources">Resources</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- End navigation bar -->

<!--
########################################################################################################################
### YOUR CONTENT GOES BELOW THIS LINE ###### YOUR CONTENT GOES BELOW THIS LINE ###### YOUR CONTENT GOES BELOW THIS LINE
########################################################################################################################
-->

<!-- Don't forget {% extends "base.html" %} -->

<!-- This is the header of the webpage and is copied into the {% block header %} tag -->
<div class="docs-header">
    <div class="container">
        <div class="row u-pull-center">
            <div class="twelve columns">
                <h2>Myringotohowdoyoupronouncethis</h2>
                <p>Our goal is to provide residents with practice using the myringotomy simulator so that they can better at
                    performing the procedure when they start operating on real patients.</p>
                <a class="button button-primary" href="#">Learn more</a>
            </div>
        </div>
    </div>
</div>
<!-- This ends the header content. Close it with {% endblock %} -->

<!-- This is beginning of the content. It goes in the {% block content %} tag -->
<div class="docs-section">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <h3>Video</h3>
                <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
                <a class="button" href="#">View details</a>
            </div>
            <div class="four columns">
                <h3>Team</h3>
                <p>We da best. Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
                <a class="button" href="#">View details</a>
            </div>
            <div class="four columns">
                <h3>Something else</h3>
                <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
                <a class="button" href="#">View details</a>
            </div>
        </div>
    </div>
</div>
<!-- This is the end of the content. Close the content block with {% endblock %} -->

<!--
########################################################################################################################
### THIS IS THE END OF YOUR CONTENT ###### THIS IS THE END OF YOUR CONTENT ###### THIS IS THE END OF YOUR CONTENT ###
########################################################################################################################
-->

<!-- Begin footer -->
<div class="docs-section negative">
    <div class="container">
        <div class="row">
            <div class="four columns" >
                <img class="img-responsive" src="assets/img/InvertedDesignHub.png">
                <!-- TODO fix picture height and width -->
            </div>
            <div class="eight columns" >
                <!-- TODO make the text white, even though it is a link, I think the white contrasts better-->
                <p><i class="fa fa-envelope"></i> <a href="mailto:hi@pittdesignhub.com">hi@designdesignhub.com</a> <br>
                    <i class="fa fa-github"></i> <a href="https://github.com/mciantyre/designhubweb">Steal the code!</a> <br>
                    <i class="fa fa-camera-retro"></i> <a href="https://www.facebook.com/abbywangphotography">Photo Credit: Abby Wang</a> </p>
                <!-- Hacked together by Ian McIntyre, Zachary Barnes, Stephanie Lee, Madhur Malhotra, and Michael Urich. <script type="text/javascript">document.write(new Date().getFullYear());</script></h6> -->
            </div>
        </div>
    </div>
</div>
<!-- End footer -->
</body>
</html>