{% extends "base.html" %}

{% block header %}

<div class="docs-section background-moct">
    <div class="container u-pull-center">
        <div class="row">
            <div class="twelve columns">
                <h1> M-OCT </h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<!-- Project Description--> 
<div class="docs-section">
    <div class="container">
        <div class="row">
            
				<p>The optical tomography scope is common equipment at the eye doctors. However, this tool is now avail
				The M-OCT team has completed their design prototype which is being used in ocular
				surgery at UPMC! Meetings and discussions on the next-generation M-OCT have already 
				started, and the team of engineers, doctors, clinicians, and researchers is excited 
				for the potential of the next model.</p>
			
        </div>
    </div>
</div>

<!-- Accomplishments--> 
<div class="docs-section">
    <div class="container">
        <div class="row">
            
			<p><b>Accomplishments:</b></p>
				<ul>
					<li> Finalists in M.G. Wells Healthcare Entrepreneurship Competition 2013 </li> 
					<li> Prototype used in surgery at UPMC Children's Hospital</li> 
					<li> Featured in a variety of publications 
						<ul>
							<li><a href="http://www.pittnews.com/news/article_7e5d3226-4763-11e3-8e7e-0019bb30f31a.html" target="_blank"><i>The Pitt News, </i></a> </li>
							<li><a href="http://www.bioopticsworld.com/articles/2013/11/university-of-pittsburgh-students-develop-hands-free-oct-mount-device.html" target="_blank"><i>BioOptics World, </i></a> </li>
							<li><a href="http://www.bizjournals.com/pittsburgh/blog/techflash/2013/11/pitt-students-streamline-eye-surgery.html" target="_blank"><i>Pittsburgh Business Times, </i></a> </li>
							<li><a href="http://www.octnews.org/" target="_blank"><i>OCT News, </i></a></li>
							<li><a href="http://www.ibme.ucl.ac.uk/external/university-of-pittsburgh-students-develop-hands-free-oct-mount-device/" target="_blank"><i>UCL Institue of Biomedical Engineering.</i></a> </li>
						</ul>
					</li> 
				</ul> 
			
        </div>
    </div>
</div>


<!-- Team Contact --> 
<div class="docs-section">
    <div class="container">
        <div class="row">
            
			<p><b>Contact:</b></p> 
			
			<p>Student Team </p>
				<ul>
					<li><a href="mailto:nss20@pitt.edu" data-toggle="modal">Nate Smialek (nss20@pitt.edu)</a></li>
					<li><a href="mailto:ipm4@pitt.edu" data-toggle="modal">Ian McIntyre (ipm4@pitt.edu)</a></li>
					<li><a href="mailto:sfl3@pitt.edu" data-toggle="modal">Stephanie Lee (sfl3@pitt.edu)</a></li>
					<li><a href="mailto:hmh30@pitt.edu" data-toggle="modal">Harrison Harker (hmh30@pitt.edu)</a></li>
				</ul>
			
			<p>Mentor </p>
				<ul>
					<li><a href="mailto:lathropkl@upmc.edu" data-toggle="modal">Kira Lathrop (lathropkl@upmc.edu)</a></li>
				</ul>
			
        </div>
    </div>
</div>
{% endblock %}